LO4-04. 뉴스 검색 (Data Table Tool).json
{
  "name": "LO4-04. 뉴스 검색 (Data Table Tool)",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -256,
        336
      ],
      "id": "de83c95c-b0c2-4246-bfe9-238493265231",
      "name": "When chat message received",
      "webhookId": "lo4-04-rss-tool"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "BxU6Vw3pDImyFUmR",
          "mode": "list",
          "cachedResultName": "뉴스 목록",
          "cachedResultUrl": "/projects/3cutluVJ8Y2AVRmm/datatables/BxU6Vw3pDImyFUmR"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "title",
              "condition": "ilike",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"
            },
            {
              "keyName": "content",
              "condition": "ilike",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('content_keyword', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        176,
        560
      ],
      "id": "c21348d4-423f-4dc3-9de2-dbd3d4241cfd",
      "name": "뉴스DB"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}\n\n검색 결과 : {{ $json.toJsonString() }}",
        "options": {
          "systemMessage": "당신은 뉴스 검색 도우미입니다.\n\n규칙:\n1. 사용자가 키워드를 검색하면 뉴스DB 도구로 관련 뉴스를 검색하십시오\n2. 검색된 뉴스의 제목, 핵심 내용, 원문 링크를 정리하여 제공하십시오\n3. 500자 이내로 답변하십시오\n4. 검색된 뉴스 기사가 없다면 \"해당 키워드의 뉴스가 없습니다\"라고 안내하십시오\n5. 한국어로 답변하십시오"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -32,
        336
      ],
      "id": "cd1b26da-1741-463a-8657-c691be238c3c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "gpt-5-nano",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -96,
        560
      ],
      "id": "f877596b-a00b-4ba4-9af6-275be29ab583",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "WMxpnENYsEXeum9c",
          "name": "OpenAI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "뉴스DB": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "668081f9-7334-40b9-a818-33a7c309f758",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "77731a0798d26be9eb89dbe8372e4ac846e123b7cff2f6139c558fb0f8dff292"
  },
  "id": "DoEzbiUnttZaNO7L",
  "tags": []
}