LO8-02. Gmail Trigger 자동 분류.json
{
  "name": "LO8-02. Gmail Trigger 자동 분류",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "includeSpamTrash": false
        }
      },
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        7328,
        3104
      ],
      "id": "a2ce4d35-d30a-4d6a-9591-2825f5f65b70",
      "notesInFlow": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "darMliC56SQN8QdB",
          "name": "Gmail OAuth2 API"
        }
      },
      "notes": "Gmail OAuth2 Credential을 선택하세요."
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": true
      },
      "name": "Get Labels",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        7568,
        3104
      ],
      "id": "c0aa2693-4167-471f-9b41-e0e2014effa6",
      "webhookId": "eb4c816e-2dcf-4ecf-b2cb-a564085fcebf",
      "credentials": {
        "gmailOAuth2": {
          "id": "darMliC56SQN8QdB",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const email = $('Gmail Trigger').first().json;\nconst labels = $('Get Labels').all().map(i => i.json);\nconst userLabels = labels.filter(l => l.type === 'user').map(l => ({ name: l.name, id: l.id }));\n\nreturn {\n  json: {\n    from: email.From || email.from || '',\n    subject: email.Subject || email.subject || '',\n    snippet: email.snippet || '',\n    messageId: email.id || '',\n    labelList: JSON.stringify(userLabels)\n  }\n};"
      },
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7808,
        3104
      ],
      "id": "7af3074e-b89b-4b37-8d57-5fae9e7e600a",
      "notesInFlow": true,
      "notes": "메일 정보 + 사용자 라벨 목록(4개)을 1개 아이템으로 합칩니다."
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=다음 이메일을 분류하고 반드시 Add Label Tool로 라벨을 적용하십시오.\n\n발신자: {{ $json.from }}\n제목: {{ $json.subject }}\n내용: {{ $json.snippet }}\nMessage ID: {{ $json.messageId }}\n\n사용 가능한 라벨 목록 (이 중에서만 선택):\n{{ $json.labelList }}",
        "options": {
          "systemMessage": "당신은 이메일 분류 비서입니다.\n전달받은 이메일을 분석하고 다음 4개 카테고리 중 하나로 분류하십시오:\n\n1. 긴급 — 제목이나 본문에 긴급, 즉시, ASAP 포함\n2. 고객문의 — 고객, 문의, 견적, 구매 관련\n3. 업무협조 — 보고서, 회의, 일정, 프로젝트 관련\n4. 뉴스레터 — 뉴스, 구독, newsletter, 홍보 관련\n\n반드시 다음을 실행하십시오:\n1. 전달받은 라벨 목록에서 해당 카테고리의 라벨 ID를 찾습니다\n2. Add Label Tool을 호출하여 해당 라벨 ID를 이메일에 적용합니다\n3. 분류 결과와 이유를 보고합니다\n\nAdd Label Tool 호출을 절대 건너뛰지 마십시오.",
          "maxIterations": 3
        }
      },
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        8080,
        3104
      ],
      "id": "b8541cd1-e134-4786-910f-c39ae669568d",
      "notesInFlow": true,
      "notes": "메일 정보와 사용자 라벨 목록을 받아 분류 후 Add Label Tool을 호출합니다."
    },
    {
      "parameters": {
        "model": "gpt-5-nano",
        "options": {}
      },
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        7952,
        3360
      ],
      "id": "e994d329-a1e1-416b-8831-a5cb4f0772d6",
      "credentials": {
        "openAiApi": {
          "id": "WMxpnENYsEXeum9c",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $fromAI('Message_ID', '라벨을 적용할 이메일의 Message ID', 'string') }}",
        "labelIds": "={{ $fromAI('Label_ID', '적용할 Gmail 라벨의 ID (Label_ 로 시작하는 값)', 'string') }}"
      },
      "name": "Add Label",
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        8192,
        3360
      ],
      "id": "f88d483a-4f1e-4275-ba45-be5e6be58580",
      "notesInFlow": true,
      "webhookId": "97aedd79-55e1-496d-9b8a-06d7c8b7367f",
      "credentials": {
        "gmailOAuth2": {
          "id": "darMliC56SQN8QdB",
          "name": "Gmail OAuth2 API"
        }
      },
      "notes": "AI Agent가 분류 결과에 맞는 라벨 ID로 자동 적용합니다."
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get Labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Labels": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Add Label": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "aa3298b6-dc88-4d12-895f-eba739ba4668",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "77731a0798d26be9eb89dbe8372e4ac846e123b7cff2f6139c558fb0f8dff292"
  },
  "id": "9Pbwt5yxNBHDlxhE",
  "tags": []
}